body{
    background-color: #212529;
}
.admin__Body{
    display: flex;
    justify-content: center;
    & .product__table{
        width: 80%;
        margin-right: 10px;
        border: 3px solid black;
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        & .tablePhone{
            border-radius: 10px;
            background-color: #212529;
        }
    }
}
//PRODUCT INFOR TABLE
#tbodyPhone {
    tr {
        th {
            border: 2px dotted #ffffff;
            text-align: center;
            font-size: 20px;
            font-weight: 200;
        }
    }
}

.theaderPhone {
    th {
        text-align: center;
        font-size: 20px;
    }
}

// ADD PRODUCT FORM

#exampleModal{
    display: none;
    position: absolute;
}